
.card {
    border: 1px black solid;
}

:root {
    --font-base: 1em;
}

html, body {
    background-color: rgb(248, 248, 248);
    padding: 0;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.card {
    padding: 1em;
    font-size: var(--font-base);
    margin: 0.5em
}

.card-main {
    flex-grow: 1;
    max-height: 20vh
}