@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500&display=swap');

:root {
  --theme-primary: #84c5ff;
  --theme-secondary: #51adff;
  --theme-light: #ffffff;
  --theme-dark: #707070;
}

/* Reset */
body,
html,
h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

input {
  border: none;
}

/* Header */

.Header {
  background-color: var(--theme-primary);
  position: absolute;
  width: 100%;
  box-shadow: 0px 0px 10px 1px var(--theme-dark);
}

.Header > .title {
  font-size: 24px;
  font-weight: 500;
  color: var(--theme-light);
  text-align: center;
  padding-top: 15px;
}

.search {
  padding-top: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search > .box {
  color: var(--theme-dark);
  background-color: var(--theme-light);
  padding: 10.6px 60px 10.6px 20px;
  border-radius: 20px;
  width: 220px;
}

.search > .box > input {
  width: 100%;
  outline: none;
}

.search > .box::after {
  content: url(images/SearchIcon.svg);
  position: absolute;
  margin-top: -2px;
  margin-left: 20px;
}

/* Home */

.Home {
  padding-top: 120px;
}
